@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:ital,wght@0,300;0,500;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(-140deg, #ff65c5, #fa909d, #fcce6c);
}
.container{
    background-color: rgb(236, 230, 230);
    width: 80vmin;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.5em rgba(0,21,44, 0.18);
}
h2{
    font-size: 1.8em;
    color: #11131e;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 1.3em;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.8em;
}
label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
    color: #050121;
}
input{
    position: relative;
    font-size: 1.1em;
    width: 100%;
    padding: 0.5em;
    border: 1.5px solid #43405c;
    border-radius: 0.2em;
    color: #43405c;
    outline: none;
}
input:focus{
    border-color: #ff65c5;
}
#err-msg{
    text-align: center;
    margin-top: 1.25em;
    color: #ff4362;
}